@tailwind base;
@tailwind components;
@tailwind utilities;

.gin-control-zoom-in {
	display: flex;
	padding: 8px;
}

.gin-control-zoom-out {
	display: flex;
	padding: 8px;
}

.gin-control-zoom-home {
	display: flex;
	padding: 8px;
}
